:root {
  --lightBackgroundColor: white;
  --lightTextColor: #242424;
  --lightLinkColor: #a332ff;
  --lightLinkHoverColor: #7101cd;
  --lightBoldColor: #393939;
  --lightCodeBackgroundColor: #959595;
  --lightFooterColor: #8b8b8b;
  --lightFooterLinkColor: #5a5a5a;
  --lightH1Color: #34667a;
  --lightH2Color: #c66427;
  --lightH3Color: #787878;
  --lightHrColor: rgba(0, 0, 0, 0.1);
  --lightPageBannerBorder: 0.25px solid var(--lightBackgroundColor);
  --lightCardBackgroundColor: #f6f6f6;
  --lightCardDividingLineColor: #9b9b9b;
  --lightCardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  --lightCardHoverShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  --lightButtonFilter: drop-shadow(1px 1px 1px #808080);
  --lightSubtitleColor: #808080;
  --lightGreenTextColor: rgb(5, 164, 21);
  --lightRedTextColor: rgb(243, 64, 64);
  --lightOrangeTextColor: rgb(227, 126, 2);
  --lightGrayTextColor: rgb(91, 91, 91);

  --darkBackgroundColor: black;
  --darkTextColor: rgb(230, 230, 230);
  --darkLinkColor: #d5a2ff;
  --darkLinkHoverColor: #e8cbff;
  --darkBoldColor: #dcdcdc;
  --darkCodeBackgroundColor: #585858;
  --darkFooterColor: #4d4d4d;
  --darkFooterLinkColor: rgb(220, 220, 220);
  --darkH1Color: #ed803d;
  --darkH2Color: #75caec;
  --darkH3Color: #a0a0a0;
  --darkHrColor: rgba(255, 255, 255, 0.15);
  --darkPageBannerBorder: 0.25px solid #313131;
  --darkCardBackgroundColor: #343434;
  --darkCardDividingLineColor: #242424;
  --darkCardShadow: 0 0 8px 0 #313131;
  --darkCardHoverShadow: 0 0px 24px 0 rgb(136, 136, 136);
  --darkButtonFilter: drop-shadow(2px 2px 2px rgba(121, 121, 121, 0.4));
  --darkSubtitleColor: #b9b9b9;
  --darkGreenTextColor: rgb(6, 175, 23);
  --darkRedTextColor: rgb(240, 77, 77);
  --darkOrangeTextColor: rgb(243, 150, 0);
  --darkGrayTextColor: rgb(183, 183, 183);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--lightTextColor);
  background-color: var(--lightBackgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: var(--lightLinkColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--lightLinkHoverColor);
  text-decoration: underline;
}
b {
  color: var(--lightBoldColor);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  place-items: center;
  min-width: 333px;
  min-height: 100vh;
}
code {
  background-color: var(--lightCodeBackgroundColor);
  color: white;
  font-weight: 800;
  padding: 3px;
}
footer {
  font-size: 80%;
  text-align: center;
  color: var(--lightFooterColor);
}
hr {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: var(--lightHrColor);
  height: 1px;
  border: 0;
}
h1 {
  text-align: center;
  font-size: 2.2em;
  line-height: 1.1;
  margin-top: 13px;
  margin-bottom: 5px;
  color: var(--lightH1Color);
}
h2 {
  font-size: 1.6em;
  margin-top: 40px;
  margin-bottom: 10px;
  color: var(--lightH2Color);
}
h3 {
  font-size: 1.3em;
  color: var(--lightH3Color);
  margin-bottom: 25px;
}
iframe {
  max-width: 100% !important;
  min-height: 320px !important;
}
input[type="checkbox"] {
  margin-left: 20px;
}
p {
  color: var(--lightTextColor);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

#toggle {
  -webkit-appearance: none;
  appearance: none;
}

.subtitle {
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: var(--lightSubtitleColor);
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 1.2em;
  text-align: center;
}

/* General image styling */
.page-banner {
  border: var(--lightPageBannerBorder);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  max-width: 400px;
  height: auto;
}
.bordered-image {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 5px;
  max-width: 100%;
  height: auto;
}
.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Footer styling */
.footer-nav {
  text-align: center;
}
.footer-link {
  color: var(--lightFooterLinkColor);
}

/* Icon styling */
.icon {
  max-height: 20px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -4px;
}
.black-icon {
  max-height: 20px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -4px;
}
.icon-row {
  padding-bottom: 5px;
}

/* Text syling */
.green-text {
  color: var(--lightGreenTextColor);
  font-weight: 700;
}
.blue-text {
  color: rgb(0, 123, 255);
  font-weight: 700;
}
.red-text {
  color: var(--lightRedTextColor);
  font-weight: 700;
}
.red-text.thin {
  font-weight: 500;
}
.orange-text {
  color: var(--lightOrangeTextColor);
  font-weight: 700;
}
.gray-text {
  color: var(--lightGrayTextColor);
  font-weight: 700;
}

/* Software card styling */
/* Float three columns side by side */
.column {
  float: left;
  height: 318px;
  width: 33%;
  padding: 20px;
}
/* Remove extra left and right margins due to padding */
.row {
  margin: 0px -10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-link {
  text-decoration: none;
  color: var(--lightTextColor);
}
.card-link:hover {
  text-decoration: none;
  color: var(--lightTextColor);
}
.card-icon {
  max-height: 15px;
  width: auto;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}
.card-icon-row {
  position: absolute;
  bottom: 5px;
  right: 12px;
}
.card-title {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-description {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-top: 0px;
}
.card {
  box-shadow: var(--lightCardShadow);
  transition: 0.3s;
  border-radius: 20px;
  background-color: var(--lightCardBackgroundColor);
}
.card:hover {
  box-shadow: var(--lightCardHoverShadow);
}
.card-image {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
  border-bottom: solid 0.25px var(--lightCardDividingLineColor);
}
.card-container {
  position: relative;
  height: 150px;
  padding: 0px 16px;
}

.icon {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 20px;
  width: auto;
}

/* Donate button */
.donate-button {
  padding: 5px;
  filter: var(--lightButtonFilter);
}
.donate-button:hover {
  opacity: 0.5;
}
.donate-button-container {
  height: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.center-in-donate-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Generic buttons that link to pages */
.link-button-container {
  height: 45px;
  margin-top: 30px;
  margin-bottom: -15px;
  position: relative;
}
.link-button {
  border: none;
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 18px;
  filter: var(--lightButtonFilter);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 2px #0d0d0d;
}
.link-button.green {
  background-color: #85c744;
}
.link-button.blue {
  background-color: #4a81b4;
}
.link-button.gold {
  background-color: rgb(245, 193, 48);
}
.link-button:hover {
  color: white;
  text-decoration: none;
}

/* Making the grid responsive to screen size */
@media screen and (max-width: 1050px) {
  .column {
    height: 325px;
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .column {
    height: 318px;
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .column {
    height: 310px;
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .column {
    height: 305px;
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .column {
    height: 300px;
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    height: 292px;
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .column {
    height: 288px;
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .column {
    width: 100%;
    height: auto;
    display: block;
  }
  .card-container {
    height: 135px;
  }
}
@media screen and (max-width: 530px) {
  .page-banner {
    max-width: 100%;
  }
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--darkTextColor);
    background-color: var(--darkBackgroundColor);
  }
  a {
    font-weight: 500;
    color: var(--darkLinkColor);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--darkLinkHoverColor);
    text-decoration: underline;
  }
  b {
    color: var(--darkBoldColor);
  }
  code {
    background-color: var(--darkCodeBackgroundColor);
  }
  h1 {
    color: var(--darkH1Color);
  }
  h2 {
    color: var(--darkH2Color);
  }
  h3 {
    color: var(--darkH3Color);
  }
  hr {
    background-color: var(--darkHrColor);
  }
  p {
    color: var(--darkTextColor);
  }
  .black-icon {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
  .link-button {
    filter: var(--darkButtonFilter);
  }
  .card {
    background-color: var(--darkCardBackgroundColor);
    box-shadow: var(--darkCardShadow);
  }
  .card-image {
    border-bottom: solid 0.25px var(--darkCardDividingLineColor);
  }
  .card-link {
    text-decoration: none;
    color: var(--darkTextColor);
  }
  .card-link:hover {
    text-decoration: none;
    color: var(--darkTextColor);
  }
  .card:hover {
    box-shadow: var(--darkCardHoverShadow);
  }
  .card-title {
    color: var(--darkTextColor);
  }
  .donate-button {
    filter: var(--darkButtonFilter);
  }
  .footer-link {
    color: var(--darkFooterLinkColor);
  }
  .subtitle {
    color: var(--darkSubtitleColor);
  }
  .page-banner {
    border: var(--darkPageBannerBorder);
  }
  .gray-link.on-card:hover {
    color: var(--darkLinkHoverColor);
  }
  .green-text {
    color: var(--darkGreenTextColor);
  }
  .red-text {
    color: var(--darkRedTextColor);
  }
  .orange-text {
    color: var(--darkOrangeTextColor);
  }
  .gray-text {
    color: var(--darkGrayTextColor);
  }
}
